/************ General CSS ****************/

main > .container {
  min-height: 70vh;
}

a {
  text-decoration: none !important;
}

.cursor-pointer {
  cursor: pointer;
}

.image:hover {
	transform: scale(1.02)
}

.navbar{
  border-radius: 0px !important;
}


/************ BackDrop ****************/

.backdrop{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.75);
  }
  .backdrop img{
	display: block;
	max-width: 60%;
	max-height: 80%;
	margin: 60px auto;
	box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.75);
	border: 3px solid white;
  }
  

/************ MODAL WINDOW STYLES ****************/

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.75) !important;
  backdrop-filter: blur(5px);
}

.ReactModal__Overlay--after-open {
  z-index: 100 !important;
}

.ReactModal__Body--open {
  overflow-y: hidden;
}

.react-modal {
  width: 40%;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  overflow: auto;
  max-height: calc(100% - 75px);
}

/* XS screens */
@media only screen and (max-width: 480px) {
  .react-modal {
    width: 80% !important;
  }
}

/* SM screens */
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .react-modal {
    width: 80% !important;
  }
}

.react-modal:focus {
  border: none;
  outline: none;
}

/************ PASSWORD MASK STYLES ****************/
.password-show {
    background: none !important;
    font-size: 18px;
    top: 50% !important;
    transform: translateY(-50%);
    margin-top: 0 !important;
}

/************ Notebook ****************/

.notebook-card{
    border-radius: 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 300px;
    background-size: cover;
    border: transparent;
}

.notebook-cover{
  position: relative;
  height: 100%;
}

.notebook-bookmark{
  position: absolute;
  height: 100%;
  background-color: #555555;
  right: 30px;
  color: #555555;
}
.notebook-nameslip{
  position: absolute;
  width: 100%;
  background-color: #ffffff;
  bottom: 36px;
  height: 75px;
}

.notebook-empty{
    border-style: dashed;
    border-color: #868e96;
    border-width: 2px;
}